// colors

$main-text: #ffffff; // main text
$background: #6c75ce; // body background color

$color-1: #fff4a7; // 
$color-2: #b6b1f2; // 
$color-3: #3d418e; // 
$color: rgba(52, 54, 66, 0.9);
$red: #d76666; // error messages

// fonts 

$primary-font: 'PT Sans', sans-serif;

// z-index

$header-zindex: 2;
$modal-zindex: 3;

// header

$header-height-S: 50px;
$header-height-M: 80px;