@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
 
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-size: 20px;
    background: url('../img/паттерннн.png') ;
    background-size: 1600px;
    font-family: "Nunito";
}
  
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* header[role=banner] {
    position: relative;
    height: 80px;
    background:#6A5ACD;
} */

/* Начало стилей */


.conteiner {
    margin: 0 auto;
    width: 85%;
}

.header {
    padding: 25px 0;
    background-color:  #6c75ce;
    border-bottom: 10px solid #3d418e;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
 
.header-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 700;

}

.header-nav-link {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}

.header-nav-link:hover {
    color: #F0E68C;
    border-bottom: 3px solid #F0E68C;
}

.header-btn {
    display: block;
    padding: 15px 10px;
    color: #6A5ACD;
    background-color: #F0E68C;
    border-radius: 12px;
    
}

/* Главный блок на странице */


.box {
    position: absolute;
    left: 20%;
    right: 20%;
    height: 100%;
    
    background: #FFFFFF;
    border-left: 5px dashed #3D418E;
    border-right: 5px dashed #3D418E;
}

.mini-box {
    position: absolute;
    left: 20px;
    right: 20px;
    height: 100%;
    
}

/* Таблица-дневник  */
 

.table-radius {
    height: 10px;
    width: 900px;
    margin-top: 17px;
    background-color: #6c75ce;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

table,td,th{
    border: 5px solid #6c75ce;
    
}

table {
    border-collapse: collapse;
    width: 900px;
   
}

.rise {
    margin-top: -2px;
}

.lower {
    margin-top: -5px;
}

.table-diary-days {
    height: 80px;
    background-color: #b6b1f2;
    
}

.table-diary-lessons {
    width: 100%;
    border-top: -5px;
    height: 120px;
}

.lesson-column {
    background-color: #ecedff;
}

.home-work-column {
    background-color: #ffffff;
}

.marks-column {
    background-color: #fff4a7;
}